@import "/src/app/styles/variables.scss";

.task {
  box-sizing: border-box;
  background-color: $white;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: $border-radius;

  cursor: pointer;

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .initials-container {
      display: inline-block;
      padding: 5px;
      background-color: #bbb;
      border-radius: 50%;
      text-align: center;
    }
  }
}
