@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.new-task-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;

  @media screen and (min-width: $screen-medium) {
    .page-content {
      width: 70%;
    }
  }

  @media screen and (min-width: $screen-large) {
    .page-content {
      width: 50%;
    }
  }
}
