<div class="comment">
 <div class="grid-container">
 <div class="initials-container">
  {{comment.userFirstName[0]}}{{comment.userLastName[0]}}
 </div>

 <div class="comment-edit">
  <form class="comment-form" [formGroup]="commentForm">
   <textarea id="text" formControlName="text" rows="4" [readonly]="comment.userId !== currentUser.id"></textarea>
    <div class="error"
     *ngIf="!commentForm?.get('text')?.valid && (commentForm?.get('text')?.dirty ||commentForm?.get('text')?.touched)">
     <div class="error" *ngIf="commentForm?.get('text')?.errors?.required">
      Comment is required
     </div>
     <div class="error" *ngIf="commentForm?.get('text')?.errors?.maxlength">
      Comment can't contain more than 255 characters
     </div>
    </div>
  </form>
  <div class="date-time">{{this.getFormatedDate()}}</div>
  <div *ngIf="comment.userId === currentUser.id" class="buttons-container">
   <button class="red-button" (click)="deleteComment()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="deleteCommentLoader"></span>
    <span *ngIf="!deleteCommentLoader">Delete</span>
   </button>
   <button class="red-button" (click)="commentForm?.get('text').setValue(comment.text)">Clear changes</button>
    <button type="submit" class="blue-button" [disabled]="!commentForm?.get('text')?.valid || !changed"
     (click)="patchComment()">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="editCommentLoader"></span>
      <span *ngIf="!editCommentLoader">Save changes</span>
    </button>
  </div>
  <p class="success">{{successMessage}}</p>
  <p class="error">{{errorMessage}}</p>
 </div>
 </div>
</div>