@import "/src/app/styles/global.scss";
@import "/src/app/styles/variables.scss";

.container-modal {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;

  h5 {
    margin: 10px 20px;
    color: $blue;
  }

  .button-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;

    .button-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      .form-button {
        width: 100%;
        cursor: pointer;
        font-size: $fs-small;
        font-weight: bold;
        padding: 0.5em 2.5em;
        color: $white;
        border: transparent;
        border-radius: $border-radius;
        margin: 20px 0 10px 0;

        &:disabled {
          background: $light-gray;
        }
      }

      .left {
        grid-column: 1/2;
        background: $red;
      }

      .right {
        grid-column: 3/4;
        background: $blue;
      }
    }
  }

  .info-text {
    text-decoration: none;
    font-size: $fs-small;
    text-align: center;
  }

  .ok {
    color: $blue;
  }

  .error {
    color: $red;
  }
}
