.page {
  display: grid;
  grid-template-rows: min-content 70% min-content;
  position: absolute;
  width: 100%;

  .header {
    min-height: 50px;
  }

  .content {
    padding: 1%;
    height: 100%;
  }

  .footer {
    min-height: 200px;
  }
}
