<app-project-navbar [projectId]="projectId"></app-project-navbar>
<h2 style="margin-left: 20px;">{{task?.projectName}}: {{task?.name}}</h2>
<div class="grid-container">
  <form class="left-form" [formGroup]="leftForm">
   <textarea rows="4" id="description" formControlName="description"></textarea>
   <div class="error"
    *ngIf="!leftForm?.get('description')?.valid && (leftForm?.get('description')?.dirty || leftForm?.get('description')?.touched)">
    <div class="error" *ngIf="leftForm?.get('description')?.errors?.required">
     Description is required
    </div>
    <div class="error" *ngIf="leftForm?.get('description')?.errors?.maxlength">
     Description can't contain more than 255 characters
    </div>
   </div>
  <div class="error">
    {{descriptionErrorMessage}}
  </div>
  <div class="success">
    {{descriptionSuccessMessage}}
  </div>

   <div class="buttons-container">
    <button class="red-button" (click)="leftForm?.get('description').setValue(task.description)">Clear changes</button>
    <button type="submit" class="blue-button" [disabled]="!leftForm?.get('description')?.valid" (click)="patchDescription(leftForm?.get('description').value)">Save</button>
   </div>

   <textarea rows="4" id="comment" formControlName="comment" placeholder="Enter your thoughts here..."></textarea>
   <div class="error"
    *ngIf="!leftForm?.get('comment')?.valid && (leftForm?.get('comment')?.dirty ||leftForm?.get('comment')?.touched)">
    <div class="error" *ngIf="leftForm?.get('comment')?.errors?.required">
     Comment is required
    </div>
    <div class="error" *ngIf="leftForm?.get('comment')?.errors?.maxlength">
     Comment can't contain more than 255 characters
    </div>
   </div>

   <div class="buttons-container">
    <button type="submit" class="blue-button" [disabled]="!leftForm?.get('comment')?.valid"
     (click)="addComment(leftForm?.get('comment').value)">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="commentLoader"></span>
          <span *ngIf="!commentLoader">Comment</span>
    </button>
   </div>

   <div>
     <app-comments-list [comments]="comments"
     [currentUser]="currentUser"
     [deleteCommentLoader]="deleteCommentLoader"
     [editCommentLoader]="editCommentLoader"
     [loadMoreAvailable]="commentLoadMoreAvailable"
     [taskId]="taskId"
     (onDelete)="deleteComment()"
     (onPatch)="editComment()"
     (onPaginate)="paginate()"></app-comments-list>
   </div>
  </form>

  <div>
    <form class="right-form" [formGroup]="rightForm" (ngSubmit)="patchUserPriorityStatus()">

      <div class="flex-container">
      <div>
        Reporter: {{currentUser.firstName}} {{currentUser.lastName}}
      </div>
      <div class="initials-container">
        {{currentUser.firstName[0]}}{{currentUser.lastName[0]}}
      </div>
      </div>

      <div class="flex-container">
      <div>
        Assignee:&nbsp;
        <select formControlName="collaborator" name="collaborators">
          <option [ngValue]="null">None</option>
          <option *ngFor="let collaborator of collaborators" [ngValue]="collaborator.collaborator">
            {{collaborator.collaborator.firstName}} {{collaborator.collaborator.lastName}}
          </option>
        </select>
      </div>
      <div *ngIf="rightForm?.get('collaborator').value !== null" class="initials-container">
        {{rightForm?.get('collaborator').value.firstName[0]}}{{rightForm?.get('collaborator').value.lastName[0]}}
      </div>
      </div>

      <div style="margin-bottom: 20px;">
        <select formControlName="priority" name="priorities">
        <option *ngFor="let priority of priorities" [ngValue]="priority">
          {{priority.priority}}
        </option>
        </select>
      </div>

      <div style="margin-bottom: 20px;">
        <select formControlName="status" name="statuses">
          <option *ngFor="let status of statuses" [ngValue]="status">
            {{status.status.replace("_", " ")}}
          </option>
        </select>
      </div>

      <div style="margin-bottom: 20px;">
        <select formControlName="type" name="types">
          <option *ngFor="let type of types" [ngValue]="type">
            {{type.type}}
          </option>
        </select>
      </div>

      <div class="error">
        {{userPriorityStatusErrorMessage}}
      </div>
      <div class="success">
        {{userPriorityStatusSuccessMessage}}
      </div>

      <div class="buttons-container">
        <button type="submit" class="blue-button">Save</button>
      </div>
    </form>

    <div class="buttons-container">
      <button class="grey-button" (click)="subscribe()">Subscribe</button>
    </div>
    <div style="text-align: right; margin-right: 20px; margin-bottom: 20px;">
      <p *ngIf="onTaskSubscribedFlag">Successfully subscribed to task</p>
      <p *ngIf="onTaskSubscribedErrFlag">{{onTaskSubscribedErrMessage}}</p>
      <p *ngIf="taskSubscriptionMessage">*By subscribing you agree to receiving notifications for given task</p>
    </div>
  </div>
</div>
