@import "/src/app/styles/variables.scss";

.modal-content-wrapper {
  // padding: 0 !important;
  // position: fixed;
  // top: 10%;
  // left: 18.5%;
  // z-index: 1050;
  // width: 80%;
  // height: 80%;
  // margin-left: -10%;
  // background: $white;

  .modal-body {
    width: 100%;
    height: 100%;
  }

  .modal-footer {
    text-align: center;

    .modal-cancel-button {
      width: fit-content;
      cursor: pointer;
      font-size: $fs-medium;
      font-weight: bold;
      padding: 0.5em 2.5em;
      background: $blue;
      color: $white;
      border: transparent;
      border-radius: $border-radius;
      margin: 20px 0px 10px 0px;
    }
  }
}
