@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

h2 {
    color: $blue;
    width: 100%;
    text-align: center;
  }

p {
    display: inline;
    width: 100%;
    justify-content: center;
  }

input:focus {
  outline: none;
}

.in-field {
  box-sizing: border-box;
  margin: 5px 0px 10px 0px;
  width: 100%;
  padding: 5px 5px;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  float: left;
}

.material-icons {
  float: right;
}

