@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.reset-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;

  .background-image {
    display: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  h2 {
    color: $blue;
  }

  h3 {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $screen-medium) {
    .page-content {
      width: 70%;
    }
  }

  @media screen and (min-width: $screen-large) {
    .page-content {
      display: flex;
      justify-content: center;
      margin: auto;

      .reset-form {
        width: 50%;
      }

    }

    .background-image {
      display: initial;
      opacity: 0.7;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
