<form class="new-issue" [formGroup]="newIssueForm" (ngSubmit)="onSubmit()">
 <div class="form-content">
  <div class="input-container">
   <h2>
    <span>New issue for: </span>
    <span id="projectNameSpan">{{project.name}}</span>
   </h2>

   <label for="issue-name" class="input-label">Issue name*</label>
   <input id="issue-name" formControlName="issueName" class="input-field">
   <div class="error" *ngIf="newIssueForm?.get('issueName')?.touched && newIssueForm?.get('issueName')?.invalid">
    Issue name can't be empty
   </div>

   <label for="description" class="input-label">Description*</label>
   <textarea id="description" formControlName="description" class="input-field"></textarea>
   <div class="error" *ngIf="newIssueForm?.get('description')?.touched && newIssueForm?.get('description')?.invalid">
    Description can't be empty
   </div>

   <label for="priority" class="input-label">Priority*</label>
   <br/>
   <select class="select-option" name="priority" formControlName="priority">
    <option *ngFor="let priority of priorities" [value]="priorities">
     {{priority.priority}}
    </option>
   </select>
 
   <button type="submit" [disabled]="newIssueForm.invalid" class="form-button">Add issue</button>

  </div>
 </div>
</form>