<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" type='text/css'>
</head>
<div class="body">
    <div class="projects-page">
        <div class="page-content">
            <div class="message-container">
              <h3 class="info message" *ngIf="projectNum == 0">You don't have any projects. Create new project below.</h3>
              <h3 class="error message" *ngIf="err">{{err}}</h3>
            </div>
            <app-projects-table [projects]="projects"></app-projects-table>

            <div class="controls">
                <div class="left">
                    <span><button class="form-button" (click)="createProject()">New project</button></span>
                </div>
                <div class="right">
                    <mat-paginator [pageSizeOptions]="pageOptions" (page)="paginate($event)" [length]="projectNum"></mat-paginator>
                </div>
            </div>
            <app-projects-table [projects]="projects"></app-projects-table>
        </div>
    </div>
</div>
<template ngbModalContainer></template>
