<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" type='text/css'>
</head>
<div class="body">
    <div class="projects-page">
        <div class="page-content">
            <div class="left">
              <span *ngIf="type === 'owner'"><button class="form-button" (click)="createProject()">New project</button></span>
            </div>

            <app-projects-table  [readonly]="type !== 'owner'" [title]="title" [projects]="projects"
                                 (projectDelete)="onProjectDelete()"></app-projects-table>
            <div class="controls">
                <div class="right">
                    <mat-paginator [pageSizeOptions]="pageOptions" (page)="paginate($event)" [length]="projectNum"></mat-paginator>
                </div>
            </div>
    </div>
</div>
<br/>
<template ngbModalContainer></template>
