<form class="login" [formGroup]="resetPassCodeForm">
    <div class="form-content">
        <h2>Reset password</h2>
        <h3>Enter code that was sent to your email address.</h3>
        <br>
        <div class="input-container">
            <input type="text" id="code" formControlName="code" class="input-field">
       </div>
       <a routerLink="/reset-password-new"><button type="submit" [disabled]="resetPassCodeForm.invalid" class="form-button">Reset password</button></a>
       <div class="form-info-text">
        <p><a routerLink="/" class="redirect-link">Log In</a></p>
        <p> or </p>
        <p><a routerLink="/register" class="redirect-link">Register</a></p>
       </div>
       <p class="form-info-text error">{{errorMessage}}</p>
    </div>
</form>

