<div class="list-container" *ngIf="comments.length > 0">
 <div class="list" *ngFor="let comment of comments">
  <app-comments-item 
  [comment]="comment" 
  [currentUser]="currentUser"
  [deleteCommentLoader]="deleteCommentLoader"
  [editCommentLoader]="editCommentLoader"
  [successMessage]="editedId !== null && editedId === comment.id ? successMessage: ''"
  [errorMessage]="editedId !== null && editedId === comment.id ? errorMessage: ''"
  (onDelete)="deleteComment($event)"
  (onPatch)="editComment($event)"></app-comments-item>
 </div>
 <button (click)="paginate()" class="load-more-button" [disabled]="!loadMoreAvailable">Load more</button>
</div>

<div class="empty-list" *ngIf="comments.length == 0">
 <p>No comments found</p>
</div>