<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" type='text/css'>
</head>
<nav class="stroke" *ngIf="userService.isLoggedIn() === true"> 
    <ul *ngIf="router.url === '/dashboard' || router.url === '/my-account'">
        <li><a routerLink="dashboard">Projects</a></li>
        <li><a routerLink="my-account">My account</a></li>
    </ul>
    <ul *ngIf="router.url.includes('/issues') || router.url.includes('/tasks') || router.url.includes('/collaborators')">
        <li><a routerLink="dashboard">Home</a></li>
        <li><a routerLink="projects/:id/collaborators">Collaborators</a></li>
        <li><a routerLink="projects/:id/tasks">Tasks</a></li>
        <li><a routerLink="projects/:id/issues">Issues</a></li>
    </ul>
    <div class="icons">
        <i class="far fa-bell fa-lg bell"></i>
    </div>
</nav>


