@import "/src/app/styles/typography.scss";

nav {
  width: 100%;
  margin: 0 auto;
  background: $light-light-gray;
  padding: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
}

nav ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: $dark-gray;
  font-weight: bold;
  font-size: $fs-small;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.63;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: $blue;
}

nav ul li a:active {
  color: $blue;
}

nav ul li a:focus {
  color: $blue;
}

nav.stroke {
  padding: 0%;
  display: flex;
  justify-content: space-between;
}

.bell {
  font-size: $fs-small;
  padding-right: 10px;
}

.bell:hover {
  color: $blue;
}

.icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .red-bell {
    color: $red;
  }

  .notifications {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 10;
    margin-top: 40px;
    margin-right: 5px;

    @media screen and (min-width: $screen-medium) {
      width: 300px;
    }

    @media screen and (min-width: $screen-large) {
      width: 500px;
    }
  }
}

.sign-out:hover {
  color: $blue;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: $blue;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.bell-button {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: transparent;
  padding: 5px;
  position: relative;
  max-width: 60px;

  .counter {
    position: absolute;
    background: $red;
    color: $white;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    top: 0;
    left: 0;
  }
}
