<div class="register-page">
    <div class="background">
        <img class="background-image" src="assets/background-accent.png" alt=""/>
    </div>
    <div class="page-content">
        <div class="title">
            <img class="logo" src="assets/bug-logo.png" alt="Bug Logo"/>
            <h2>Welcome to Project Hub!</h2>
            <h3>Issue Tracker and Task Management Tool for Developers</h3>
        </div>
        <div class="register-form"><app-register-form></app-register-form></div>
    </div>
</div>
