@import "/src/app/styles/typography.scss";

.notifications-list {
  box-sizing: border-box;
  background: $light-light-gray;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid rgb(124, 124, 124, 0.5);
  border-radius: 7px;

  .notification {
    margin-bottom: 10px;
  }
}
