@import "/src/app/styles/typography.scss";

.notifications-list {
  box-sizing: border-box;
  background: $light-light-gray;
  padding: 10px;
  width: 50%;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;

  .notification {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $screen-medium) {
    width: 30%;
  }

  @media screen and (min-width: $screen-large) {
    width: 25%;
  }
}
