@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.new-collaborator-page {
  .title {
    text-align: center;

    h2 {
      color: $blue;
    }
  }

  .info-text {
    color: $blue;
    text-decoration: none;
    font-size: $fs-small;
    text-align: center;
  }

  .error {
    color: $red;
  }

  @media screen and (min-width: $screen-medium) {
    .page-content {
      width: 70%;
    }
  }

  @media screen and (min-width: $screen-large) {
    .page-content {
      width: 50%;
    }
  }
}
