@import "/src/app/styles/typography.scss";
@import "/src/app/styles/forms.scss";

.dialog-container {
  .dialog-button {
    cursor: pointer;
    font-size: $fs-small;
    font-weight: bold;
    padding: 0.5em 2.5em;
    background: $blue;
    color: $white;
    border: transparent;
    border-radius: $border-radius;
    margin: 20px 5px 10px 0px;
  }
}
