@import "/src/app/styles/variables.scss";

.footer {
  box-sizing: border-box;
  color: $white;
  padding: 1em;
  background-color: $black;
  width: 100%;
  font-size: $fs-small;
  text-align: center;

  a {
    text-decoration: none;
    margin: 5px 0;
    display: block;
  }

  @media screen and (min-width: $screen-medium) {
    font-size: $fs-medium;
  }
}
