@import "/src/app/styles/variables.scss";

.footer {
  box-sizing: border-box;
  color: $white;
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: $black;
  width: 100%;
  font-size: $fs-medium;

  a {
    color: $white;
    text-decoration: none;
    margin: 15px 0px;
    display: block;
  }
}
