@import "/src/app/styles/variables.scss";

.form-content {
  box-sizing: border-box;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  padding: 20px 20px;
  margin-bottom: 40px;

  .input-field {
    box-sizing: border-box;
    margin: 5px 0px 10px 0px;
    width: 100%;
    padding: 0.75em 5px;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
  }

  .input-label {
    color: $dark-gray;
    font-size: $fs-medium;
  }

  .form-info-text {
    color: $blue;
    text-decoration: none;
    font-size: $fs-small;
    text-align: center;
  }

  .redirect-link {
    cursor: pointer;
    color: $blue;
    font-size: $fs-small;
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .link-center {
    display: block;
    text-align: center;
  }

  .form-button {
    width: 100%;
    cursor: pointer;
    font-size: $fs-large;
    font-weight: bold;
    padding: 0.5em 2.5em;
    background: $blue;
    color: $white;
    border: transparent;
    border-radius: $border-radius;
    margin: 20px 0px 10px 0px;

    &:disabled {
      background: $light-gray;
    }
  }

  .input-container {
    margin-bottom: 10px;
  }

  .error {
    color: $red;
  }

  .form-title {
    width: 100%;
    text-align: center;
    color: $blue;
    margin: 0 0 20px 0;
  }
}
