@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext");
@import "/src/app/styles/variables.scss";

* {
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}

.tag {
  background-color: $blue;
  font-size: $fs-medium;
  color: $white;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  border-radius: $border-radius;
}
