$white: #ffffff;
$black: #383838;
$blue: #509fe8;
$red: #e85950;
$light-light-gray: #f0f0f5;
$light-gray: #d8d8d8;
$dark-gray: #7c7c7c;
$green: #80ff80;

$fs-small: 16px;
$fs-medium: 18px;
$fs-large: 20px;

$border-radius: 5px;

$screen-small: 500px;
$screen-medium: 750px;
$screen-large: 1024px;