<form class="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
        <div class="input-container">
            <label for="firstName" class="input-label">First name*</label>
            <input type="text" id="firstName" formControlName="firstName" class="input-field">
            <div class="error" 
            *ngIf="registerForm?.get('firstName')?.touched && registerForm?.get('firstName')?.invalid">
                First name is required
            </div>
       </div>

       <div class="input-container">
        <label for="lastName" class="input-label">First name*</label>
        <input type="text" id="lastName" formControlName="lastName" class="input-field">
        <div class="error" 
        *ngIf="registerForm?.get('lastName')?.touched && registerForm?.get('lastName')?.invalid">
            Last name is required
        </div>
   </div>

       <div class="input-container">
            <label for="email" class="input-label">Email*</label>
            <input type="email" id="email" formControlName="email" class="input-field">
            <div class="error" 
            *ngIf="registerForm?.get('email')?.touched && registerForm?.get('email')?.invalid">
                Valid email is required
            </div>
       </div>
    
        <div class="input-container">
            <label for="password" class="input-label">Password*</label>
            <input type="password" id="password"  formControlName="password" class="input-field">
            <div class="error" *ngIf="registerForm?.get('password')?.touched && registerForm?.get('password')?.invalid">
                Password is required
            </div>
        </div>

        <div class="input-container">
            <label for="confirmPassword" class="input-label">Confirm Password*</label>
            <input type="password" id="confirmPassword"  formControlName="confirmPassword" class="input-field">
            <div class="error" *ngIf="registerForm?.get('confirmPassword')?.touched && registerForm?.get('confirmPassword')?.invalid">
                Confirm password is required
            </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="form-button">Log in</button>
        <p class="form-info-text">Already have an account? <span><a routerLink="" class="redirect-link">Login</a></span></p>
        <br/>
        <p class="form-info-text error">{{errorMessage}}</p>
    </div>
</form>