@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.login {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 500px;

  .title {
    box-sizing: border-box;
    width: 70%;
    text-align: center;
    position: relative;
    .logo {
      width: 80px;
    }
  }

  h2 {
    color: $blue;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-button {
    margin-top: 40px;
  }

  @media screen and (min-width: $screen-large) {
    .title {
      width: 50%;
    }
  }

  @media screen and (min-width: $screen-large) {
    padding-right: 100px;
    align-items: flex-end;
    .title {
      width: 40%;
      max-width: initial;
    }
  }
}
