@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.login-page {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;

  .background-image {
    display: none;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
  }

  .title {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    .logo {
      width: 80px;
    }
  }

  h2 {
    color: $blue;
  }

  h3 {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $screen-medium) {
    .page-content {
      width: 70%;
    }
  }

  @media screen and (min-width: $screen-large) {
    .page-content {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      width: 70%;
      margin-left: auto;
      margin-right: 5em;

      .login-form {
        width: 50%;
      }

      .title {
        width: 50%;
      }
    }

    .background-image {
      display: initial;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
