<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" type='text/css'>
</head>
<div class="notification-item">
    <div class="top">
        <p class="notification-title">{{notification.title}}</p>
        <i class="far fa-circle icon"></i>
        <!-- <i class="fas fa-circle icon"></i> -->
    </div>
    <p class="notification-description">{{notification.description}}</p>
    <div class="date-time">{{this.getFormatedDate()}}</div>
</div>
