@import "/src/app/styles/typography.scss";

.notification-item {
  color: $black;
  background: $white;
  border-radius: $border-radius;
  padding: 10px;
  letter-spacing: 0.65px;

  .top {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-gray;
  }

  .notification-title {
    color: $blue;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: $fs-medium;
  }

  .notification-description {
    margin: 5px 0;
  }

  .icon {
    color: $blue;
  }

  .date-time {
    color: $blue;
    font-size: $fs-tiny;
  }
}
