<form class="new-task" [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
 <div class="form-content">
  <div class="input-container">
   <h2>
    <span>New task for: </span>
    <span id="projectNameSpan">{{project.name}}</span>
   </h2>

   <label for="task-name" class="input-label">Task name*</label>
   <input id="task-name" formControlName="taskName" class="input-field">
    <div class="error"
     *ngIf="!newTaskForm?.get('taskName')?.valid && (newTaskForm?.get('taskName')?.dirty ||newTaskForm?.get('taskName')?.touched)">
     <div class="error" *ngIf="newTaskForm?.get('taskName')?.errors?.required">
      Task name is required
     </div>
     <div class="error" *ngIf="newTaskForm?.get('taskName')?.errors?.maxlength">
      Task name can't contain more than 50 characters
     </div>
    </div>

   <label for="description" class="input-label">Description*</label>
   <textarea id="description" formControlName="description" class="input-field"></textarea>
   <div class="error"
    *ngIf="!newTaskForm?.get('description')?.valid && (newTaskForm?.get('description')?.dirty ||newTaskForm?.get('description')?.touched)">
    <div class="error" *ngIf="newTaskForm?.get('description')?.errors?.required">
     Description is required
    </div>
    <div class="error" *ngIf="newTaskForm?.get('description')?.errors?.maxlength">
     Description can't contain more than 255 characters
    </div>
   </div>

   <div class="justified-container">
    <label for="priorities" class="input-label">Priority*</label>
    <label for="types" class="input-label">Type*</label>
    <label for="collaborators" class="input-label"> Assigned to</label>
   </div>

   <div class="justified-container">
    <select class="select-option" formControlName="priority" name="priorities" >
     <option *ngFor="let priority of priorities" [ngValue]="priority">
      {{priority.priority}}
     </option>
    </select>

    <select class="select-option" formControlName="type" name="types">
     <option *ngFor="let type of types" [ngValue]="type">
      {{type.type}}
     </option>
    </select>

    <select class="select-option" name="collaborators" formControlName="collaborator">
     <option [ngValue]="{id: null}">None</option>
     <option *ngFor="let collaborator of collaborators" [ngValue]="collaborator">
      {{collaborator.email}}
     </option>
    </select>
   </div>

   <button type="submit" [disabled]="newTaskForm.invalid" class="form-button">Add task</button>

   <p class="form-info-text error">{{errorMessage}}</p>
   <p class="form-info-text">{{successMessage}}</p>

  </div>
 </div>
</form>