<form class="new-task" [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
 <div class="form-content">
  <div class="input-container">
   <h2>
    <span>New task for: </span>
    <span id="projectNameSpan">{{project.name}}</span>
   </h2>

   <label for="task-name" class="input-label">Task name*</label>
   <input id="task-name" formControlName="taskName" class="input-field">
   <div class="error" *ngIf="newTaskForm?.get('taskName')?.touched && newTaskForm?.get('taskName')?.invalid">
    Task name can't be empty
   </div>

   <label for="description" class="input-label">Description*</label>
   <textarea id="description" formControlName="description" class="input-field"></textarea>
   <div class="error" *ngIf="newTaskForm?.get('description')?.touched && newTaskForm?.get('description')?.invalid">
    Description can't be empty
   </div>

   <div class="justified-container">
    <label for="priority" class="input-label">Priority*</label>
    <label for="collaborator" class="input-label"> Assigned to</label>
   </div>

   <div class="justified-container">
   <select class="select-option" name="priority">
    <option *ngFor="let priority of priorities" [value]="priorities">
     {{priority.priority}}
    </option>
   </select>

   <select class="select-option" name="collaborator">
    <option *ngFor="let collaborator of collaborators" [value]="collaborators">
     {{collaborator.email}}
    </option>
   </select>
   </div>

   <button type="submit" [disabled]="newTaskForm.invalid" class="form-button">Add task</button>

  </div>
 </div>
</form>