<app-project-navbar [projectId]="projectId"></app-project-navbar>
<div class="body">
    <div class="issues-page">
        <div class="page-content">
            <div>
                <div class="title" *ngIf="title !== ''">
                    <br>
                    <h3>{{title}}</h3>
                </div>
                <div id="create-btn">
                    <button class="form-button btn" (click)="openModal()">Create issue</button>
                </div>
                <app-issues-table [issues]="issues" (issueEvent)="detailsClicked($event)" (issueDeleteEvent)="deleteIssue()" [title]="title"></app-issues-table>
                <div class="controls">
                    <div class="right">
                        <mat-paginator [pageSizeOptions]="pageOptions" (page)="paginate($event)" [length]="issueNum"></mat-paginator>
                    </div>
                </div>
            </div>
            <div *ngIf="issue !== undefined && show == true">
                <div class="details-form">
                    <app-issue-details-form [issue] ="issue" (closeEvent)="closeDetails($event)"></app-issue-details-form>
                </div>
            </div>
        </div>
    </div>
</div>
