<div class="details-container">
 <div class="title">
  <h3>Project details</h3>
  <div class="tag">
   {{ isOwner === true ? "owner" : "collaborator" }}
  </div>
 </div>
 <label for="projectName">Project name:&nbsp;</label>
 <p id="projectName"> {{project.name}}</p>
 <br/>
 <label for="projectOwner">Owner:&nbsp;</label>
 <p id="projectOwner"> {{owner.firstName}} {{owner.lastName}} ({{owner.email}})</p>
 <br />
 <label for="projectCollaborators">Team members:&nbsp;</label>
 <p id="projectCollaborators">{{collaborators.length}}</p>
</div>
