<form class="new-project" [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
 <div class="form-content">
  <h2>New project</h2>
  <div class="input-container">
   <label for="project-name" class="input-label">Project name*</label>
   <input id="project-name" formControlName="projectName" class="input-field">
   <div class="error" *ngIf="newProjectForm?.get('projectName')?.touched && newProjectForm?.get('projectName')?.invalid">
    Project name can't be empty
   </div>
  </div>

  <button type="submit" [disabled]="newProjectForm.invalid" class="form-button">Add project</button>
 </div>
</form>
