<div *ngIf="show">
    <form class="issue-details-form" [formGroup]="issueDetailsForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
            <label for="issue-name" class="input-label">Issue name*</label>
            <input type="text" id="issue-name" formControlName="name" class="input-field" [value]="issue?.name">
            <div class="error"
            *ngIf="!issueDetailsForm?.get('name')?.valid && (issueDetailsForm?.get('name')?.dirty || issueDetailsForm?.get('name')?.touched)">
            <div class="error" *ngIf="issueDetailsForm?.get('name')?.errors?.required">
             Issue name is required
            </div>
            <div class="error" *ngIf="issueDetailsForm?.get('name')?.errors?.maxlength">
             Issue name can't contain more than 50 characters
            </div>
           </div>

           <label for="description" class="input-label">Description*</label>
           <textarea id="description" formControlName="description" class="input-field" [value]="issue?.description"></textarea>
           <div class="error"
            *ngIf="!issueDetailsForm?.get('description')?.valid && (issueDetailsForm?.get('description')?.dirty || issueDetailsForm?.get('description')?.touched)">
            <div class="error" *ngIf="issueDetailsForm?.get('description')?.errors?.required">
             Description is required
            </div>
            <div class="error" *ngIf="issueDetailsForm?.get('description')?.errors?.maxlength">
             Description can't contain more than 255 characters
            </div>
           </div>
        
           <label for="priority" class="input-label">Priority*</label>
            <br/>
            <select class="select-option" formControlName="priority_id">
                <option *ngFor="let priority of priorities" [value]="priority.id">
                 {{priority.priority}}
                </option>
            </select>
           
           <div class="justified-container">
            <button type="submit" [disabled]="issueDetailsForm?.invalid || !issueDetailsForm?.dirty" class="my-button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loader"></span>
                <span *ngIf="!loader">Edit issue</span>
            </button>
            <button class="my-button" (click)="close(true)">Close</button>
            </div>

            <div class="success">
                <h5>
                    {{successMessage}}
                </h5>
            </div>

            <div class="error">
                {{errorMessage}}
            </div>
        </div>

    </form>

</div>
