@import "/src/app/styles/forms.scss";
@import "/src/app/styles/typography.scss";

.new-project-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
