@import "/src/app/styles/variables.scss";

.header {
  box-sizing: border-box;
  background: $black;
  color: $white;
  padding: 15px 20px 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: $fs-medium;
}
