@import "/src/app/styles/variables.scss";

.header {
  box-sizing: border-box;
  background: $black;
  color: $white;
  padding: 15px 20px 15px 20px;
  width: 100%;
  font-size: $fs-medium;
  letter-spacing: 0.63px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: $white;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  .user-data {
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-out {
      display: inline;
      margin-inline-start: 20px;
      color: $white;
      background: transparent;
      border: transparent;
      cursor: pointer;
      padding: 0;
      &:focus,
      &:hover {
        outline: transparent;
      }
    }
  }
}
